@import "custom.css";

choice > reg, reg { display:inline; }
choice expan {
    display:inline !important;
}
choice > abbr { border-bottom: none; }
choice > abbr { display: none; }
choice > orig { display: none; }

/* choice > expan */
del { display: none; }

#rvf360v {display:block;}
#rvf360 {display:none;}

