/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
margin-top:4em;
font-size:14pt;
font-family:Georgia, Palatino, serif;
} 

a {text-decoration:none; color:#9b181e;}
a:hover {text-decoration:underline;}

#banner {
font-family: "helvetica neue", helvetica, verdana, arial, sans-serif;
font-weight:100;
font-size:48px;
}

#banner a {
color:black;
}

#banner a:hover {
text-decoration:none;
}

#bannersubtitle {
font-size:36px;
}

#credits {
font-size:16px;
}

#banner .archive {
font-weight:300;

}

#content {
width:750px;
}

ul {
list-style-type:disc;
margin-left:4em;
}

h1,h2,h3,h4,h5,h6{
font-family: "helvetica neue", helvetica, verdana, arial, sans-serif;
font-weight:bold;
margin-top:.5em;
}

h1 {
border-bottom:1px solid gray;
padding-bottom:.25em;
margin-top:1.5em;
font-size: 18pt;
}

h2 {
margin-top:1em;
}

p, ul, ol, dl {
line-height:150%;
margin-top:.5em;
margin-bottom:.5em;
}

.subsetfacs {
max-height:160px;
float:right;
border:1px solid gray;
margin:4px 4px 4px 20px;
}

.subsetvis {
max-height:160px;
float:right;
border: 1px solid #d9e7ff;
margin:4px 4px 4px 4px;
}

.subset, section {
clear:both;
}
em,cite,i{font-style:italic;}

img {max-width:600px;}

figure {
margin-top:.5em;
margin-bottom:.5em;
}

figure img, figure figcaption {margin-right:auto;
margin-left:auto;
display:block;
}

figcaption {
margin-top:.5em;
margin-bottom:.5em;
text-align:center;
font-weight:medium;
font-style:italic;
font-size:18px;
margin-right:auto;
margin-left:auto;
}

footer {
border-top:1px solid black;
margin-top:2.5em;
margin-bottom:2em;
width:900px;
font-family:'Helvetica Neue','Gill Sans',Helvetica,Arial,sans-serif;
font-weight:200;
font-size:8pt;
line-height:1.5;
}

