html > body {
	overflow-y: auto;
}

nav #smallbanner {
	display: none;
}
#bannertitle {color: #afafaf;}
#vizindex img {width:100%;}
#vizindex a {border: 2px solid #afafaf; padding: 0}

@media screen and (min-width: 992px) {
	#vizindex .col-lg-1-24 {
		max-width: 4.1%;}
}
.no-file {opacity: .4;}
.ui-tooltip {opacity: 1; max-width: 160px; background-color: white;}

.ui-tooltip img.facs {width:100%;}
.ui-widget-shadow {background: white;}
.ui-widget-content {background: white; border: none;}

.ui-tooltip-content p.charta {
	font-size: .8em; 
	text-transform: capitalize;
	font-family: Arvo, Verdana, sans-serif;
}

.dropdown-toggle {
	margin-top: 20px;
}

.container {
}

main p {
	margin-bottom: 1rem;
}

#banner {
  font-family: "helvetica neue", helvetica, verdana, arial, sans-serif;
  font-size: 32pt;
  text-decoration: none;
  font-weight: 100;
  line-height: 28pt;
}

.show-sm-down div,
.show-sm-down #bannerrvf {
	font-size: 24px;
}

.show-md-up {
	margin-top: 4rem;
}

body section main {
	margin-top: 2rem;
}

#textindex-container {
	margin-top: 3rem;
}